.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

label {
font-size: 12px;
}
  
input,
textarea {
display: block;
}

button[type="submit"] {
    margin: 10px;
    background-color: rgb(86, 161, 93);
    color: white;
    border: none;
    height: 40px;
    padding: 0 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: rgb(76, 141, 77);
}


button[type="cancel"] {
    margin: 10px;
    background-color: rgb(187, 69, 69);
    color: white;
    border: none;
    height: 40px;
    padding: 0 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}